.article-list{
  text-align: center;
  margin: 30px 0px;
  button, p{
    display: inline-block;
  }
  .page{
    margin: 0px 20px; 
  }
}
.article{
  margin: 0 auto;
  width: 800px;
  h1{
    font-size: 28px;
  }
  img{
    width: 100%;
  }
}